{% extends "includes/base.html" %}
{% block title %}spock dashboard{% endblock %}
{% block body %}
<p>{{ auth.lang("web.index.welcome").replace("$1", crate::site::SITE_NAME) }}</p>
{% if let Some(user) = auth.0 -%}{% if user.sysop -%}
<a class="button button-primary" href="/sysop">{{ auth.lang("web.index.managebot") }}</a>
{%- endif %}{%- endif %}
{% endblock %}